.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 14px;
  color: @blue;
  margin-right: 15px;

  @media screen and (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  display: inline-block;
  width: 27px;
  height: 34px;
}
