.device-list {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: @desktop-width) {
    padding-top: 75px;
    padding-bottom: 60px;
  }
}

.device-list__item {
  align-self: baseline;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}
