.download {
  background-color: @dark-blue;
}
.download__wrapper {
  padding-bottom: 35px;
}
.download__top-block {
  padding: 95px 20px 320px 20px;
  background-image: url("../img/download-screen.png"), url("../img/download-phone.png"), url("../img/download-back-mobile.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 111px 197px, 320px auto, cover;
  background-position: center 218px, left bottom, center center;
}
.download__text-block {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: @white;
  text-align: center;
}
.download__button-block {
  padding: 28px 20px 0 20px;
}
.download__text-block--smaller {
  font-size: 14px;
  line-height: 1.7;
}
