.gallery {
}
.gallery__wrapper {
  padding: 54px 20px 48px 20px;
}
.gallery__text {
  text-align: center;
  font-size: 14px;
  line-height: 2.1;
  color: @blue;
}
.gallery__text--top {
  margin-bottom: 60px;
}
.gallery__list {
  margin-bottom: 50px;
}
.gallert__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.gallert__item--top {
}
.gallery__img-block {
  margin: 0 auto;
  width: 87.5%;
  max-width: 280px;
}
.gallery__img-block--top {
  position: relative;
}
.gallery__img {
}
.gallery__attn {
  position: absolute;
  top: 0;
  width: 140px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
  background-color: @pink;
}
.gallery__text-block {
  margin: 0 auto;
  width: 87.5%;
  max-width: 280px;
  padding: 26px 10px 26px 17px;
  background-color: rgb(242, 242, 242);
}
.gallery__autor-time {
  margin-bottom: 14px;
}
.gallery__autor {
  font-size: 14px;
  font-weight: 700;
  color: @blue;
}
.gallery__time {
  font-size: 12px;
  font-weight: 300;
  color: @blue;
}
.gallery__caption {
  font-size: 14px;
  font-weight: 400;
  color: @blue;
  margin-bottom: 25px;
}
