.likes {
  display: flex;
  align-items: center;
}
.likes__heart {
  border: none;
  background-color: inherit;
  width: 13px;
  height: 12px;
  margin-right: 18px;
}
.likes__number {
  font-size: 12px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
}
