.main-nav__list {
  position: static;
  top: 70px;
  right: 0;
  left: 0;
  display: none;
  text-align: center;

  @media screen and (min-width: @tablet-width) {
    top: 110px;
  }

  @media screen and (min-width: @desktop-width) {
    position: static;
    display: block;
  }
}

.main-nav__list--js-enabled {
  position: absolute;

  @media screen and (min-width: @desktop-width) {
    position: static;
  }
}

.main-nav__list--open {
  display: block;
}
