.modification__buttons {
  width: 208px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.modification__button {
  margin-right: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.modification__button--inactive {
  & svg {
    opacity: 0.3;

    &:hover {
      opacity: 0.5;
    }
  }
}
