.modification {

}
.modification__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modification__button {
  margin-right: 35px;
  border: none;
  &:last-child {
    margin-right: 0;
  }
}
.modification__button--current {
}
.modification__button--size {
}
.modification__button--fill {
}
.modification__button--contrast {
}
