.new-post {
  background-color: rgb(242, 242, 242);
}
.new-post__wrapper {
  padding: 20px 20px 40px 20px;
}
.new-post__img-block {
  width: 100%;
  max-width: 280px;
  margin: 0 auto 40px auto;

}
.gallery__img {
}
.new-post__modification {
  margin-bottom: 35px;
}
.new-post__range-block {
  padding-bottom: 34px;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
}
.new-post__buttons {
  padding-top: 40px;
}
.new-post__button {
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}
