.page-header {
  width: 100%;
  background-color: @blue;

  @media screen and (min-width: @desktop-width) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding-right: 130px;
  }
}

.page-header--js-enabled {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 70px;
  padding-right: 20px;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  margin-bottom: 1px;

  @media screen and (min-width: @tablet-width) {
    min-height: 110px;
  }

  @media screen and (min-width: @desktop-width) {
    box-shadow: none;
    padding-right: 104px;
    padding-left: 350px;
  }
}

.page-header__external-wrapper {
  @media screen and (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.page-header__wrapper--js-enabled {
  box-shadow: none;
  margin-bottom: 0;
}

.page-header__wrapper--bg {
  background-color: @blue;
}

.page-header__logo {
  position: absolute;
  display: block;
  left: 20px;
  cursor: pointer;

  @media screen and (min-width: @desktop-width) {
    top: 27px;
    left: 130px;
  }
}

.page-header__pink-logo {
  fill: @white;

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: @white;
    opacity: 0.3;
  }
}

.page-header__pink-logo--visible-phone {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__pink-logo--visible-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: -15px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__pink-logo--visible-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-header__img {
  @media screen and (max-width: @mobile-width-only) {
    width: 74px;
    height: 23px;
  }

  @media screen and (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media screen and (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }
}

.page-header__toggle {
  position: relative;
  display: none;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }

  &:hover::before {
    background-color: @pink;
    box-shadow: 0 10px 0 0 @pink, 0 20px 0 0 @pink;
  }

  &:active::before {
    background-color: @pink-down;
    box-shadow: 0 10px 0 0 @pink-down, 0 20px 0 0 @pink-down;
  }

  @media screen and (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__toggle--js-enabled {
  display: block;

  @media screen and (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__toggle--close {
  width: 23px;
  height: 23px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -2px;
    width: 27px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 0;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:hover::after {
    background-color: @pink;
    box-shadow: none;
  }

  &:hover::before {
    background-color: @pink;
    box-shadow: none;
  }

  &:active::after {
    background-color: @pink-down;
    box-shadow: none;
  }

  &:active::before {
    background-color: @pink-down;
    box-shadow: none;
  }
}
