.page-footer__wrapper {
  padding-top: 38px;
  padding-bottom: 40px;
  text-align: center;

  @media screen and (min-width: @tablet-width) {
    display: flex;
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (min-width: @desktop-width) {
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 70px;
    padding-right: 127px;
    padding-left: 127px;
  }
}

.page-footer__wrapper--catalog {
  padding-top: 44px;

  @media screen and (min-width: @tablet-width) {
    padding-top: 48px;
  }

  @media screen and (min-width: @desktop-width) {
    padding-top: 71px;
  }
}

.page-footer__wrapper--form {
  @media screen and (min-width: @desktop-width) {
    max-width: none;
    padding-top: 40px;
    padding-right: 130px;
    padding-left: 130px;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 40px;
  margin: 0 auto 40px auto;
  cursor: pointer;

  @media screen and (min-width: @tablet-width) {
    margin: 0 77px 0 0;
  }

  @media screen and (min-width: @desktop-width) {
    margin: 0;
  }
}

.page-footer__pink-logo {
  fill: #000000;

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: #000000;
    opacity: 0.3;
  }
}

.page-footer__pink-logo--visible-mobile-tablet {
  @media screen and (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__pink-logo--visible-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-footer__social {
  margin-bottom: 42px;

  @media screen and (min-width: @tablet-width) {
    margin: 0 95px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-left: 7px;
  }
}
