.page-header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 70px;
  padding-right: 20px;

  @media screen and (min-width: @tablet-width) {
    min-height: 110px;
  }

  @media screen and (min-width: @desktop-width) {
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 130px;
    padding-left: 350px;
  }
}

.page-header__wrapper--bg {
  background-color: @blue;
}

.page-header__logo {
  position: absolute;
  display: block;
  left: 20px;
  cursor: pointer;

  @media screen and (min-width: @desktop-width) {
    top: 27px;
    left: 130px;
  }
}

.page-header__pink-logo {
  fill: @white;

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: @white;
    opacity: 0.3;
  }
}

.page-header__pink-logo--visible-phone {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__pink-logo--visible-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: -15px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__pink-logo--visible-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-header__img {
  @media screen and (max-width: @mobile-width-only) {
    width: 74px;
    height: 23px;
  }

  @media screen and (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media screen and (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }
}
