.popup {
  display: none;
  padding-top: 44px;
}
.popup__wrapper {
  text-align: center;
}
.popup__text-block {
  padding-right: 22px;
  padding-left: 22px;
}
.popup__text-block--success {
  padding-bottom: 41px;
}
.popup__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
.popup__text {
  font-size: 14px;
  line-height: 1.7;
}
.popup__btn-block {
  padding: 50px 22px;
}
.popup__btn-block--gray {
  background-color: rgb(242, 242, 242);
}
