.range-block {
}
.range-block__list {
  text-align: center;
}
.range-block__item {
  display: none;
  & img {
    display: none;
  }
}
.range-block__item--current {
  display: block;
}
.range-block__runner {
}
.range-block__runner--size {
}
.range-block__runner--fill {
}
.range-block__runner--contrast {
}
