.reviews {
}
.reviews__wrapper {
  padding: 50px 20px 60px 20px;
  text-align: center;
}
.reviews__list {
}
.reviews__item {
  margin-bottom: 44px;
}
.reviews__autor-name {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}
.reviews__autor-information {
  display: none;
}
.reviews__text {
  font-size: 14px;
  line-height: 2.1;
  color: @blue;
}
.reviews__btn {
  display: none;
}
.reviews__btn--prev {
}
.reviews__btn--next {
}
.reviews__toggles {
}
