.site-list {
  background-color: @blue;
}
.site-list__item {
  padding-top: 25px;
  padding-bottom: 25px;
  & a {
    font-size: 18px;
    font-weight: 700;
    color: @white;
    text-transform: uppercase;
    &:hover {
      color: @pink;
    }
    &:active {
      color: @white-down;
    }
  }
}
.site-list__item--current {
  
}
