.tariffs {
  position: relative;
  background-color: @gray;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 30px; // высота скошенного края
    background: black; // цвет скошенного края
    background: linear-gradient(to top left, @gray 50%, rgba(255,0,0,0) 52%);
    transform: translateY(-100%); // сдвигаем вверх на 30 пикселей
  }
}
.tariffs__wrapper {
  padding-top: 90px;
  padding-bottom: 50px;
}
.tariffs__table {
  margin: 0 auto 45px auto;
  border: 2px solid @gray;
}
.tariffs__row {
  background-color: @white;
}
.tariffs__header {
  padding-top: 19px;
  padding-bottom: 35px;
  background-color: @dark-blue;
}
.tariffs__header--displayed {

}
.tariffs__header--hidden {
  display: none;
  background-color: @gray;
}
.tariffs__name {
  font-size: 16px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.tariffs__price {
  font-size: 18px;
  font-weight: 300;
  color: @white;
}
.tariffs__hit {
  font-size: 14px;
  font-weight: 400;
  color: @white;
  text-transform: uppercase;
}
.tariffs__data {
}
.tariffs__data--text {
  display: none;
}
.tariffs__data--yes {
}
.tariffs__data--displayed {

}
.tariffs__include {
  font-size: 14px;
  color: @blue;
  text-transform: uppercase;
}
.tariffs__toggles {
  text-align: center;
}
