.top-section {
  padding: 95px 46px 42px 46px;
  text-align: center;
  background: @dark-blue url("../img/download-back-mobile.jpg") no-repeat center top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/download-back-mobile@2x.jpg");
  }

  @media screen and (min-width: @tablet-width) {
    padding: 180px 20px 65px 20px;
    background: @dark-blue url("../img/download-back-tablet.jpg") no-repeat center top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/download-back-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: @desktop-width) {
    padding: 170px 164px 95px 164px;
    background: @dark-blue url("../img/download-back-desktop.jpg") no-repeat center top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/download-back-desktop@2x.jpg");
    }
  }
}

.top-section--catalog {
  padding-bottom: 80px;
}

.top-section__text {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  color: @white;

  @media screen and (min-width: @tablet-width) {
    width: 90%;
    margin: 0 auto;
    font-size: 50px;
    line-height: 1.3;
  }
}
